.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    touch-action: none;
    overflow-anchor: none;
}

.selectedItem {
    background-color: gray;
}

.selectedItem * {
    opacity: 0;
}