.todo-item {
    background-color: white;
    font-size: 1.1em;
    padding: 0 0px 0 10px;
    line-height: 1.2;
    gap: 10px;
    /* height: 45px; */
    user-select: none;

    height: 100%;
    width: 100%;
}

.empty-icon {
    width: 1em;
    height: 1em;
}

.hidden-icon {
    cursor: pointer;
}

.before-todo {
    position: absolute;
    display: flex;
    align-items: center;
    left: calc(-1em - 10px);
    height: 100%;
    width: 1em;
    cursor: move !important;
}

.todo-taskEnd {
    font-size: 0.8em;
    color: gray;
}

.todo-expired {
    color: orangered;
}
