.todo-item {
    background-color: white;
    font-size: 1.1em;
    padding: 0 0px 0 10px;
    line-height: 1.2;
    gap: 10px;
    /* height: 45px; */
    user-select: none;

    display: flex;
    height: 100%;
    align-items: center;
    /* height: 100%;
    width: 100%; */
}

.empty-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

.hidden-icon {
    cursor: pointer;
}

.before-todo {
    position: absolute;
    display: flex;
    align-items: center;
    left: calc(-1em - 10px);
    height: 100%;
    width: 1em;
    cursor: move !important;
}

.todo-text-wrapper {
    flex-grow: 1;
    overflow: hidden;
}

.todo-ellipsis-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-taskEnd {
    font-size: 0.8em;
    color: gray;
}

.todo-expired {
    color: orangered;
}
