body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 500px)  {
  .header {
    padding: 0 10px 0 20px !important;
  }
}

.ant-popover-inner-content {
  padding: 12px 0 !important;
}

.menuItem:active {
  background-color: transparent !important;
}

.menuItem {
  padding: 0 0 0 8px !important;
}

.menuItemPopup {
  color: #000000d9 !important;
}
.menuItemPopup:hover {
  color: #1890ff !important;
}